doctype html
html
  head
    title My Friend is a Founder - A series of interviews with founders you can relate to.
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(href='http://fonts.googleapis.com/css?family=GFS+Didot', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css")
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/app.css')
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/favicon.ico' type='image/x-icon')
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
        analytics.load('iDI2Cr9j2UZV5AN85v7BKFNnoXYYhRHk');
        analytics.page()
      }}();
  body
    main
      section.home
        .container
          .row
            .col-md-12
              a.logo(href='/') My Friend is a Founder
          .row
            .col-md-offset-2.col-md-8.explainer.text-center
              p A series of interviews with <b>founders you can relate to</b>.
              p
                | With the <b>focus</b> to decode <b>last steps to a successful business</b>.
          .row.first-email.text-center
            .col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4
              .form-group
                input#top-email.form-control.input-lg(name='email', type='email', placeholder='Your Best Email' required)
              .form-group
                button#top-submit.btn.btn-light(type='submit') Get an interview every few weeks

      section.pad-large.bottom-skew
        .container
          .row
            .col-md-12.text-center
              h1
                | Quiting coding to become a founder
                span  | Dima
              h5 3 minutes
              .row
                .col-md-offset-2.col-md-8
                  .big-content.content-pad
                    | <a href='https://twitter.com/snovity' target='_blank'><b>Dima</b></a> is a
                    |  <b>co-founder of <a href='http://playgong.com/?utm_source=blog&utm_medium=link&utm_campaign=myfriendisafounder' target='_blank'>Playgong</a></b> - an app for creating leaderboards for offices, sport clubs - anywhere where people play 1 on 1 competitive games.
                  .hr
              .intro.row
                .col-md-offset-1.col-md-4
                  img.img-responsive.img-rounded.img-padded(src='img/sea.jpg')
                .col-md-6
                  .content.text-left
                    p
                      | I’ve met Dima on the first day of my first job as a coder.
                      | It was three years ago and he already had a reputation of being a great builder.
                    p
                      | He changed a job since then and more than a year ago <b>he quit it all -
                      | to start his own company</b>.
                    p
                      | It was a risky move, since they had <b>no revenue</b> and <b>no users</b>.
                      | It was also a brave move with the attitude of “I will make it work no matter what”.

      section.light-part
        .container.content
          .row.question-answer
            .col-md-7
              include:md interviews/dima/why-quit.md

          .row.question-answer
            .col-md-5.text-center
              img.img-rounded.img-responsive(src='img/dima.jpg')
              .img-caption Dima, awkwardly posing.
            .col-md-7.content-middle
              include:md interviews/dima/transition-lesson.md

      section.dark-part
        .container.content
          .row.question-answer
            .col-md-offset-5.col-md-7
              include:md interviews/dima/playgong-story.md
          .row.question-answer
            .col-md-7
              include:md interviews/dima/going-since-then.md

      section.quote
        .container
          .row.big-content
            .col-md-offset-3.col-md-6
              blockquote
                | You have to <b>become a generalist</b> and learn how to
                |  <b>cut corners</b>. - Dima

      section.dark-part.dark-part-bottom-skew
        .container.content
          .row.question-answer
            .col-md-offset-5.col-md-7
              include:md interviews/dima/product-market-fit.md
            .col-md-offset-5.col-md-7
              include:md interviews/dima/other-problems.md

      section.light-part.no-skew
        .container.content.text-center
          .col-sm-12
            h4 Get an interview every few weeks
            .hr
          .col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4
            .form-group
              input#bottom-email.form-control.input-lg.requiretop(name='email', type='email', placeholder='Your Best Email' required)
            .form-group
              button#bottom-submit.btn(type='submit') Learn from friendly founders
            .follow
              hr
              a(href='https://twitter.com/FriendlyFounder' target='_blank')
                span OR FOLLOW THEM
                i.zocial-twitter
    script(src='js/app.js')
